body {
    background: white;
}

ul {
    padding: 2em 0;
    background: #00bcaf; //Цвет панели
}

a {
    text-decoration: none;
    padding: 2em;
    color: white;
}

a:hover {
    text-decoration: none;
    background: grey;
    color: white;
}

li {
    display: inline;
}